* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
a {
  text-decoration: none;
  color: white;
}
.all {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  transition: all 0.2s;
}
#nav {
  background: transparent;
}
#nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.5s;
  z-index: 10;
  transition: all 0.5s;
  padding: 24px 0;
  background: rgba(103, 176, 209, 0.8);
}
.navc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav .logo h1 {
  font-size: 24px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
